<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Welcome to the Simple Web App</h1>
    <form action="/submit" method="post">
        Name: <input type="text" name="name" required><br>
        Email: 
        <input type="email" name="email" required 
               placeholder="example@example.com" 
               pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"><br> <!-- Email validation -->
        Phone: <input type="text" name="phone" required><br>
        Address: <input type="text" name="adress"><br>
        Date of Birth: <input type="date" name="date_of_birth"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
